body {
  /*background: #fafafa;*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

md-content.md-default-theme {
  background-color: #eee;
}

md-card {
  background-color: #fff;
}

md-card h2:first-of-type {
  margin-top: 0;
}

md-toolbar .md-button.md-default-theme {
  border-radius: 99%;
}

h2 {
  font-weight: 400;
}

.md-toolbar-tools-bottom {
  font-size: small;
}

.md-toolbar-tools-bottom :last-child {
  opacity: 0.8;
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}

md-sidenav {
  fill: #737373;
}

md-sidenav ng-md-icon {
  position: relative;
  top: 5px;
}

.user-avatar {
  border-radius: 99%;
}

.landing {
  width: 100%;
  /*  height: 100%;*/

}

.landingupper {
  width: 100%;
  height: 60%;
  background-color: #36C657;
}

.landinglower {
  width: 100%;
  text-align: center;
}

.fbDiv {
  width: 100%;
  text-align: center;
  margin-top: 10%;
}

.alignCenter {
  text-align: center;
}

.text-landing {
  color: white;
}

.divMargin {
  margin-top: 20px;
}

.divLessMargin {
  margin-top: 2%;
}

.transparent {
  background-color: transparent !important;
}

.quickRideImgStyle {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center
}

.divLayout {
  margin-left: 2%;
  marin-right: 2%;
}

.divLayoutMoreMargin {
  margin-left: 5%;
  marin-right: 5%;
}

.rewardButtonStyle{
  border:1px darkgrey solid;
  margin:0px 0px;
  padding:0px 0px;
}

.fontColorGreen{
  color: rgb(76,175,80);
}

.circletag {
  margin-top: 40px;
  left: -22px;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  position: relative;
}

.circletag img {
  background: #E6E7ED;
  width: 25px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
  margin: auto;
}

/* flip the pane when hovered */
.flipperflip {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  height: 50px;
  width: 50px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  border-radius: 50%;
  transform: rotateY(180deg);
}

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.star-rating .star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}

.star-rating .star.filled {
  color: #fd0;
}

.star-rating.readonly .star.filled {
  color: #666;
}

.verified {
  background-color: limegreen !important;
  color: white;
  padding: 2px;
  border-radius: 10%;
}

.loadingindicator {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 33333;
  /*background-color: blue;*/
}

.md-tab {
  color: green !important;
}

.md-active {
  color: black !important;
}

.rating {
  float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
  float:right;
  width:1em;
  padding:0 .1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:200%;
  line-height:1.2;
  color:#ddd;
  text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
  content: '★ ';
}

.rating > input:checked ~ label {
  color: #f70;
  text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
  position:relative;
  top:2px;
  left:2px;
}



@media (max-width: 45rem) {
  .time-date {
    width: 21.1rem;
    font-size: 0.8rem;
  }
  .time-date > .display {
    width: 100%;
    height: auto;
    -webkit-transition: color 0.6s ease-in-out, height 0.6s ease-in-out;
    transition: color 0.6s ease-in-out, height 0.6s ease-in-out;
  }
  .time-date > .display > .content {
    position: relative;
    width: 100%;
    top: 0px;
    height: 15.5rem;
  }
  .time-date > .control {
    width: 100%;
  }
  .time-date.time-mode > .display > .content {
    padding-top: 4.6rem;
  }
  .time-date.time-only > .display > .content {
    top: 0px;
    padding-top: 0.8rem;
    height: 10rem;
  }
  .time-date.full-mode > .display {
    display: none;
  }
  .time-date.full-mode > .control {
    width: 100%;
    height: 44.2rem;
  }
  .time-date.full-mode > .control > .full-title {
    display: block;
  }
  .time-date.full-mode > .control > .slider {
    float: none;
    width: 100%;
    height: auto;
    overflow: auto;
  }
  .time-date.full-mode > .control > .slider > .time-control,
  .time-date.full-mode > .control > .slider > .date-control {
    width: 100%;
    float: left;
  }

  .time-date > .control > .slider > .date-control .day-cell{
    font-size: 0.9rem;
  }

  .time-date[theme=material] .md-button, .time-date:not([theme]) .md-button{
    padding: 0px;
  }
}
