<md-toolbar style="background-color: whitesmoke !important;min-height: 50px !important;">
  <div class="md-toolbar-tools" style="padding: 0px;height: 50px">
    <div ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
      <ng-md-icon style=" fill:black" icon="menu"></ng-md-icon>
    </div>
    <div layout="row">
      <img src="images/logo.png" style="height: 20px;width: 20px">
      <h1  style="padding-left: 10px;">Change Password</h1>
    </div>
  </div>
</md-toolbar>
<div layout="column" ng-cloak>

  <md-content layout-padding>
    <div style="padding-top:15px;padding-bottom: 15px;text-align: center">
      <img src="/images/quickride.png" style="height:80px;"></div>
    <form name="changePasswordForm" ng-submit="changePassword(changePasswordForm)" novalidate>
      <md-input-container class="md-block">
        <label><img src="/images/icon_password.png" style="height: 11px">Old password</label>
        <input type="password" name="oldPassword" ng-model="oldPassword" required>

        <div class="input-error" ng-messages="changePasswordForm.oldPassword.$error"
             ng-if="changePasswordForm.$submitted">
          <div ng-message="required">Old password required</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label><img src="/images/icon_password.png" style="height: 11px">New password</label>
        <input type="password" name="newPassword" ng-model="newPassword" required>

        <div class="input-error" ng-messages="changePasswordForm.newPassword.$error"
             ng-if="changePasswordForm.$submitted">
          <div ng-message="required">New password required</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label><img src="/images/icon_password.png" style="height: 11px">Confirm password</label>
        <input type="password" name="confirmPassword" ng-model="confirmPassword" required>

        <div class="input-error" ng-messages="changePasswordForm.confirmPassword.$error"
             ng-if="changePasswordForm.$submitted">
          <div ng-message="required">Confirm password required</div>
        </div>
      </md-input-container>
      <div layout="row" layout-align="center">
        <md-button class="md-raised md-accent" flex="90">Change password</md-button>
      </div>
    </form>
  </md-content>
</div>
