<div layout="column" ng-cloak>

  <md-content layout-padding>
    <div style="padding-top:15px;padding-bottom: 15px;text-align: center">
      <img src="/images/quickride.png" style="height:80px;"></div>
    <form name="forgotPasswordForm" ng-submit="resetPassword(forgotPasswordForm)" novalidate>
      <md-input-container class="md-block">
        <label><img src="/images/icon_username.png" style="height: 13px">Phone</label>
        <input type="number" name="phone" ng-model="user.phone" ng-minlength="10"
               ng-maxlength="10" required>

        <div ng-messages="forgotPasswordForm.phone.$error" ng-if="forgotPasswordForm.$submitted">
          <div ng-message="minlength">Invalid phone number</div>
          <div ng-message="maxlength">Phone number should be only 10 numbers</div>
          <div ng-message="required">Phone number required</div>
        </div>
      </md-input-container>
      <div layout="row" layout-align="center">
        <md-button class="md-raised md-accent" flex="90">Reset password</md-button>
      </div>
    </form>
  </md-content>
</div>
