<div  layout="row" flex style="height: 100%" ng-cloak>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>
      <md-menu-content style="max-height: 100%">
        <md-menu-item><md-button ui-sref="app.profile">Profile</md-button></md-menu-item>
        <md-menu-item><md-button ng-click="doSomething()">New Ride</md-button></md-menu-item>
        <md-menu-item><md-button ng-click="doSomething()">My Rides</md-button></md-menu-item>
        <md-menu-item><md-button ng-click="doSomething()">My Rewards</md-button></md-menu-item>
        <md-menu-item><md-button ng-click="doSomething()">Share & Earn</md-button></md-menu-item>
        <md-menu-item><md-button ng-click="doSomething()">Feedback</md-button></md-menu-item>
        <md-menu-item><md-button ng-click="doSomething()">Password</md-button></md-menu-item>
        <md-menu-item><md-button ng-click="doSomething()">Logout</md-button></md-menu-item>


      </md-menu-content>
    </md-sidenav>

      <div ui-view layout="column" flex></div>
</div>
