<md-dialog aria-label="Login error" flex="70">
  <md-dialog-content class="divMargin">
    <div layout="column" layout-align="center">
      <span layout="row" layout-align="center">{{errorMessage}}</span>
      <!--<span layout="row" layout-align="center" class="divLessMargin">Sign up first,if you are a new user </span>-->
    </div>

    <md-whiteframe class="md-whiteframe-z5" layout layout-align="center center" class="divMargin">
      <md-button ng-click="closeDialog()" class="md-clear" flex="100">
        OK
      </md-button>
    </md-whiteframe>
  </md-dialog-content>
</md-dialog>
