<md-toolbar style="background-color: whitesmoke !important;min-height: 50px !important;">
  <div class="md-toolbar-tools" style="padding: 0px;height: 50px">
    <div ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
      <ng-md-icon style=" fill:black" icon="menu"></ng-md-icon>
    </div>
    <div layout="row">
      <img src="images/logo.png" style="height: 20px;width: 20px">
      <h1  style="padding-left: 10px;">My Rides</h1>
    </div>
    <span flex></span>
    <md-button ng-if="selectedTab == 0 && selectedIndex>=0" ng-click="updateProfile()" class="transparent"
               style="color: green">Join
    </md-button>
    <md-button ng-if="selectedTab == 0 && selectedIndex<0" ng-click="updateProfile()" class="transparent"
               style="color: green">Create ride
    </md-button>
  </div>
</md-toolbar>
<md-tabs md-stretch-tabs md-selected="selectedTab" flex>
  <md-tab label="Upcoming">
    <div style="margin-top: 10px;overflow: hidden;">
      <div ng-repeat="ride in myRides | filter:getUpcoming"
           style="font-size: 12px;">
        <md-card style="position: relative;margin: 0px;padding: 5px" layout="row" flex>
          <div class="flip-container">
                <img style="height:25px;width: 25px;margin: auto;background: gray" src="/images/icon_passengers.png">
          </div>
          <div layout="column" flex >
            <div flex layout="row" md-ink-ripple="#008000">
              <div style="padding-left: 20px" >
                <div style="padding-right: 10px" ng-repeat="name in ride.passengers">{{name}}</div>
                <div ng-hide="ride.passengers.length > 0">
                  No passengers
                </div>
              </div>
              <div flex></div>
              <div style="padding-left: 20px" flex>{{ride.status}}</div>
              <div>{{ ride.startTime | date :'ddMMM hh:mm a'}}</div>
            </div>
            <div layout="row" flex="89">
              <div layout="column" flex md-ink-ripple="#008000">
                <div style="padding-left: 20px">&nbsp;</div>
                <div style="padding-left: 20px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{ride.startAddress}}</div>
                <div style="padding-left: 20px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{ride.endAddress}}</div>
              </div>
              <div flex="11">
              <md-menu >
                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button">
                  <ng-md-icon icon="more_vert"></ng-md-icon>
                </md-button>
                <md-menu-content>
                  <md-menu-item>
                    <md-button ng-click="cancelPassengerRide(ride.id)">Cancel</md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="repearRide()">Repeat</md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="returnRide()">Return ride</md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
              </div>
            </div>
          </div>
        </md-card>
      </div>
    </div>
  </md-tab>
  <md-tab label="Completed">

    <div style="margin-top: 10px;overflow: hidden;">
      <div ng-repeat="ride in myRides | filter:getCompleted"
           style="font-size: 12px;">
        <md-card style="position: relative;margin: 0px;padding: 5px" layout="row" flex>
          <div class="flip-container">
            <img style="height:25px;width: 25px;margin: auto;background: gray" src="/images/icon_passengers.png">
          </div>
          <div layout="column" flex >
            <div flex layout="row" md-ink-ripple="#008000">
              <div style="padding-left: 20px" >
                <div style="padding-right: 10px" ng-repeat="name in ride.passengers">{{name}}</div>
                <div ng-hide="ride.passengers.length > 0">
                  No passengers
                </div>
              </div>
              <div flex></div>
              <div style="padding-left: 20px" flex>{{ride.status}}</div>
              <div>{{ ride.startTime | date :'ddMMM hh:mm a'}}</div>
            </div>
            <div layout="row" flex="89">
              <div layout="column" flex md-ink-ripple="#008000">
                <div style="padding-left: 20px">&nbsp;</div>
                <div style="padding-left: 20px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{ride.startAddress}}</div>
                <div style="padding-left: 20px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{ride.endAddress}}</div>
              </div>
              <div flex="11">
                <md-menu >
                  <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button">
                    <ng-md-icon icon="more_vert"></ng-md-icon>
                  </md-button>
                  <md-menu-content>
                    <md-menu-item>
                      <md-button ng-click="cancelPassengerRide(ride.id)">Cancel</md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="repearRide()">Repeat</md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="returnRide()">Return ride</md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </div>
            </div>
          </div>
        </md-card>
      </div>
    </div>
  </md-tab>
</md-tabs>






