<md-toolbar style="background-color: whitesmoke !important;">
  <div class="md-toolbar-tools" style="padding: 0px;">
    <div ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
      <ng-md-icon style=" fill:black" icon="menu"></ng-md-icon>
    </div>
    <h3>
      New Ride
    </h3>
    <span flex></span>
  </div>
</md-toolbar>
<md-content layout="column" flex id="content">
  <div flex layout="column" layout-align="center" style="position: absolute;top: 15px;width: 90%;z-index: 58;background-color: white;margin: 20px;padding: 10px;">
    <div style="color: green;margin-left: 25px">Current Location</div>
    <div flex layout="row">
    <img ng-src="/images/icon_from.png" style="height: 15px;margin: auto">
    <input type="text" id="currentLocation" placeholder="Enter ride start address" flex style="margin: 0px 10px;" ng-model="locationAddr">
    </div>
  </div>
  <div id="map" flex></div>

  <div layout="row" layout-align="center" style="position: absolute;bottom: 25px;width: 100%" class="layout-align-space-between-center">
    <div layout="column" flex="40">
      <md-button class="md-raised md-primary" ui-sref="app.ride.offerRide" href="#/auth/signUp">Ride Now</md-button>
      </a>
    </div>
    <div layout="column" flex="40">
      <md-button class="md-raised md-primary" href="#/auth/login">Ride Later</md-button>
    </div>
  </div>
</md-content>
