<md-content layout-padding flex layout="column">
    <div id="map" flex></div>

    <div layout="row" layout-align="center" style="position: fixed;bottom: 25px;width: 100%">
      <div layout="column" flex="40">
        <md-button class="md-raised md-primary" ui-sref="app.ride.offerRide" href="#/auth/signUp">Ride Now</md-button></a>
      </div>
      <div layout="column" flex="40">
        <md-button class="md-raised md-primary" href="#/auth/login">Ride Later</md-button>
      </div>
    </div>
</md-content>
