
  <div layout="row">
  <div layout="column" flex class="md-padding">
    <div flex layout="row">
    <img ng-src="/images/icon_from.png" style="height: 15px;left: 1%;position: relative">
    <input type="text" id="from" placeholder="Enter ride start address" flex style="margin: 0px 10px;">
    </div>
    <div flex layout="row">
    <img ng-src="/images/icon_to.png" style="height: 10px;left: 1%;bottom: -10px;position: relative">
    <input id="to" type="text" placeholder="Enter ride end address" flex style="margin: 0px 10px 0px 15px;">
    </div>
  </div>
    <img src="/images/icon_swap.png" style="height: 25px;width: 20px;margin: auto;">
  </div>
  <div style="padding-right: 20px;padding-left: 20px">
    <div ng-repeat="ride in riderRides" style="font-size: 12px;padding-top: 5px;padding-bottom: 5px" >
      <md-whiteframe  layout="row" flex class=".md-whiteframe-4dp">
        <div >
        <img style="height:50px;width: 50px;margin: auto" ng-src="/images/default_male.png">
        </div>
        <div layout="column" flex>
        <div flex layout="row"><div style="padding-left: 20px">{{ride.name}}</div><div flex></div><div style="padding-left: 20px" flex>Verified</div><div>Date time</div></div>
        <div style="padding-left: 20px">*****</div>
        <div style="padding-left: 20px">{{ride.fromLocationAddress}}</div>
        <div style="padding-left: 20px">{{ride.toLocationAddress}}</div>
        </div>
      </md-whiteframe>

    </div>
  </div>
  <div layout="row" layout-align="center">
    <md-button flex="90" class="md-raised md-primary" ng-click="offerRide()">Offer Ride</md-button>
  </div>
