<md-toolbar style="background-color: whitesmoke !important;min-height: 50px !important;">
  <div class="md-toolbar-tools" style="padding: 0px;height: 50px">
    <div ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
      <ng-md-icon style=" fill:black" icon="menu"></ng-md-icon>
    </div>
    <h3>
      Find Ride
    </h3>
    <span flex></span>
    <md-button ng-if="selectedTab == 0 && selectedIndex>=0" ng-click="updateProfile()" class="transparent" style="color: green">Join</md-button>
    <md-button ng-if="selectedTab == 0 && selectedIndex<0" ng-click="updateProfile()" class="transparent" style="color: green">Create ride</md-button>
  </div>
</md-toolbar>
<md-content layout="column">
  <md-tabs md-stretch-tabs md-selected="selectedTab" class="md-primary">
  <md-tab label="Offer Ride" ui-sref="app.ride.offerRide"></md-tab>
  <md-tab label="Find Ride" ui-sref="app.ride.findRide"></md-tab>
</md-tabs>
<div ui-view flex></div>
</md-content>
