<div layout="column" ng-cloak>
  <md-content layout-padding>
    <div style="padding-top:15px;padding-bottom: 15px;text-align: center">
      <img src="images/quickride.png" style="height:80px;"></div>
    <form name="signUpForm" ng-submit="signUp(signUpForm)" novalidate>
      <md-input-container class="md-block">
        <label><img src="images/icon_username.png" style="height: 13px">Phone</label>
        <input type="number" name="phone" ng-model="signUpData.phone" ng-minlength="10"
               ng-maxlength="10" required>

        <div ng-messages="signUpForm.phone.$error" ng-if="signUpForm.$submitted">
          <div ng-message="minlength">Invalid phone number</div>
          <div ng-message="maxlength">Phone number should be only 10 numbers</div>
          <div ng-message="required">Phone number required</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label><img src="images/icon_password.png" style="height: 11px">Password</label>
        <input type="password" name="password" ng-model="signUpData.pwd" required>

        <div class="input-error" ng-messages="signUpForm.password.$error" ng-if="signUpForm.$submitted">
          <div ng-message="required">Password required</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label><img src="images/icon_username.png" style="height: 13px">Name</label>
        <input type="text" name="name" ng-model="signUpData.name" required>

        <div ng-messages="signUpForm.name.$error" ng-if="signUpForm.$submitted">
          <div ng-message="required">Name required</div>
        </div>
      </md-input-container>
      <md-radio-group ng-model="signUpData.gender" layout="row" layout-align="center">
        <div flex="25" style="margin: auto;">Gender :</div>
        <md-radio-button value="M" class="md-primary" flex="30">Male</md-radio-button>
        <md-radio-button value="F" flex="30"> Female</md-radio-button>
      </md-radio-group>
      <div layout="row" layout-align="center" style="margin-bottom: 10px;margin-top: 10px">
        <a flex="90" href="#">Have a promo code?</a>
      </div>
      <div layout="row" layout-align="center">
        <md-button flex="90" class="md-raised md-primary">Sign Up</md-button>
      </div>
      <div layout="row" style="margin-bottom: 10px;margin-top: 10px">By Signing Up, I agree to <a href="terms.html">Quick
        Ride Terms</a></div>
    </form>
  </md-content>
</div>
<!--
<ion-view title="Sign Up">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <form name="signUpForm" ng-submit="signUp(signUpForm)" novalidate>
      <div class="list" style="margin-bottom: 0px !important;">
        <label class="item item-input item-floating-label">
          <span class="input-label icon ion-android-phone-portrait larger">Phone</span>
          <input type="text" placeholder="Phone" ng-model="signUpData.phone" name="phone" ng-model="user.phone"
                 ng-minlength="10"
                 ng-maxlength="10" required>
           <span class="ion-alert-circled icon-custom" ng-show="signUpForm.$submitted && signUpForm.phone.$invalid">
            <div class="input-error" ng-messages="signUpForm.phone.$error" ng-if="signUpForm.$submitted">
              <p ng-message="minlength">Invalid phone number</p>

              <p ng-message="maxlength">Phone number should be only 10 numbers</p>

              <p ng-message="required">Phone number required</p>
            </div>
          </span>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label icon ion-key larger">Password</span>
          <input type="password" placeholder="Password" ng-model="signUpData.pwd" name="password" ng-model="user.pwd"
                 ng-minlength="4" required>
          <span class="ion-alert-circled icon-custom" ng-if="signUpForm.$submitted && signUpForm.password.$invalid">
            <div class="input-error" ng-messages="signUpForm.password.$error" ng-if="signUpForm.$submitted">
              <p ng-message="minlength">Invalid password</p>

              <p ng-message="required">Password required</p>
            </div>
          </span>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label icon ion-person larger">Name</span>
          <input type="text" placeholder="Name" ng-model="signUpData.name" name="name" required>
          <span class="ion-alert-circled icon-custom" ng-show="signUpForm.$submitted && signUpForm.name.$invalid">
            <div class="input-error" ng-messages="signUpForm.name.$error" ng-if="signUpForm.$submitted">

              <p ng-message="required">Name required</p>
            </div>
          </span>
        </label>

        <div class="row">
          <li class="item item-checkbox checkbox-balanced col-50">
            <label class="checkbox">
              <input type="checkbox" ng-change="female = false" ng-model="male">
            </label>
            Male
          </li>
          <li class="item item-checkbox checkbox-balanced col-50">
            <label class="checkbox">
              <input type="checkbox" ng-change="male = false" ng-model="female">
            </label>
            Female
          </li>
        </div>
      </div>
      <div class="buttondiv"><a href="#">
        <button class="col button button-clear button-calm" style="text-align: left" ng-click="showPopup()">Have a promo
          code?
        </button>
      </a></div>
      <div class="buttondiv">
        <button type="submit" class="button button-block button-balanced">Sign Up</button>
      </div>
      <span style="margin-left: 5%">By Sign Up, I agree to <a href="terms.html">Quick Ride Terms</a></span>

    </form>
  </ion-content>
</ion-view>
<div class="bar bar-footer bar-assertive" ng-show="error">
  <div class="title">{{ error.message }}</div>
</div>
-->
