<md-dialog aria-label="Login error"style="width:120px;">
  <md-dialog-content class="divMargin" style="margin-left: 4%;margin-right:4%">
    <div layout="column" layout-align="center" style="margin-bottom: 5%;">
      <span layout="row" layout-align="center">{{errorMessage}}</span>
    </div>

    <div layout layout-align="center center" class="divMargin" ng-if="accountExistError">
      <md-button class="md-raised md-primary" ng-click="goToLogin()" class="md-clear" flex="45">
        Login
      </md-button>

      <md-button ng-click="closeDialog()" class="md-clear" flex="45">
        Skip
      </md-button>
    </div>

    <div layout layout-align="center center" class="divMargin" ng-if="!accountExistError">
      <md-button ng-click="closeDialog()" class="md-clear" flex="45">
        OK
      </md-button>
    </div>

  </md-dialog-content>
</md-dialog>
